<form [formGroup]="createColumnForm">
    <h1 mat-dialog-title>Create Column</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter a title</mat-label>
            <input
                    matInput
                    formControlName="columnTitle"
            >
            <mat-error *ngIf="!createColumnForm.get('columnTitle')!.valid">{{onError(createColumnForm.get('columnTitle'), 'columnTitle')}}</mat-error>
            <mat-error></mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button
                mat-dialog-close
                [disabled]="!createColumnForm.valid"
                color="primary"
                (click)="onSubmit()">Submit</button>
        <button
                mat-icon-button
                mat-dialog-close
                aria-label="Example icon button with a close icon">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</form>
