<nav class="navbar navbar-default navbar-color">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="cursor: pointer" class="navbar-brand title" routerLink="/">PMA</a>
      </div>
      <div>
        <div class="nav_btn" >
<!--          <ul class="nav nav_btn">-->
<!--              <button-->
<!--                      mat-fab-->
<!--                      extended-->
<!--                      color="primary"-->
<!--                      routerLink="/login">-->
<!--                  <mat-icon>login</mat-icon>-->
<!--                  Log in-->
<!--              </button>-->
<!--              <button-->
<!--                      mat-fab-->
<!--                      extended-->
<!--                      color="accent"-->
<!--                      routerLink="/signup">-->
<!--                  <mat-icon>app_registration</mat-icon>-->
<!--                  Sign Up-->
<!--              </button>-->
<!--          </ul>-->
          <ul class="nav nav_btn">
            <button
                    mat-fab
                    extended
                    color="primary"
                    routerLink="/">
                <mat-icon>add_circle_outline</mat-icon>
                Create Board
            </button>
            <button
                    mat-fab
                    extended
                    color="accent"
                    routerLink="/edit">
                <mat-icon>edit</mat-icon>
                Edit profile
            </button>
            <button
                    mat-fab
                    extended
                    color="accent"
                    routerLink="/">
                <mat-icon>logout</mat-icon>
                Log out
            </button>
            </ul>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" [matMenuTriggerFor]="menu">
                <mat-icon>language</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>en</button>
                <button mat-menu-item>ru</button>
            </mat-menu>
        </div>
      </div>
    </div>
</nav>
