.navbar-color {
    background: linear-gradient(to right, var(--header-bg-primary), var(--header-bg-secondary));
}
.title {
    font-weight: bold;
    font-size: 36px;
    color: var(--main-bg-color);
}

.mdc-fab--mini {
     width: 45px !important;
    height: 45px !important;
}
.btn_wrapper{
    gap: 0.3rem;
    display: inherit;
}

.nav_btn{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
}
