<div class="container">
  <h2 class="text-center">Intro</h2>
  <p class="text-center">Introducing our project manager app - the ultimate solution for managing your projects and tasks with ease! With our app, you can streamline your workflow, collaborate with your team, and track your progress all in one place.</p>
</div>
<div class="container feature_description">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="block">
        <p class="description">Stay organized and on track with our project manager app! With our intuitive dashboard, you can easily keep track of all your ongoing projects and deadlines.
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="block">
        <p class="description">Our app's analytics and reporting features allow you to track project progress, identify issues, and make data-driven decisions to keep your projects on track.</p>

      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="block">
        <p class="description">
          Worried about missing important deadlines or tasks? Our app has got you covered with customizable alerts and reminders. You'll never forget a task or deadline again!
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="block">
        <p class="description">Need to collaborate with your team on a project? No problem! Our app makes it easy to add team members, assign tasks, and set deadlines.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="btn_size">
    <button class="btn btn-success ">Try it now!</button>
  </div>
</div>

