<div class="container window-height">
    <div class="row col-md-4 offset-md-4 justify-content-center">
        <div class="container row justify-content-center text-center">
            <h2>Edit Profile </h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Enter your name</mat-label>
                <input  matInput placeholder="name" [formControl]="name" required>
                <mat-error *ngIf="name.invalid">{{onError(name, 'pattern')}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter old password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{onError(password, 'minLength')}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter new password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="newPassword" required>
                <mat-error *ngIf="newPassword.invalid">{{onError(newPassword, 'minLength')}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="container row justify-content-center">
            <button mat-raised-button color="primary">Confirm</button>
        </div>
    </div>
</div>
