<form [formGroup]="createBoardForm" >
<h1 mat-dialog-title>Create Board</h1>
<div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter a title</mat-label>
            <input
                    matInput
                    formControlName="titleBoard"
            >
            <mat-error></mat-error>
        </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="onSubmit()" color="primary">Submit</button>
    <button mat-icon-button mat-dialog-close  aria-label="Example icon button with a home icon">
        <mat-icon>close</mat-icon>
    </button>
</div>
</form>
