<div class="container">
  <h2 class="text-center">Our Team</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="team-member">
        <span class="image_duck">
          <img class="duck_temp" src="../../assets/duck.jpeg" alt="Person 1">
        </span>
        <h2 class="text-center">John Doe</h2>
        <p class="text-center">John is an experienced developer who has worked on a variety of web projects.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-member">
          <span class="image_duck">
          <img class="duck_temp" src="../../assets/duck.jpeg" alt="Person 1">
        </span>
        <h2 class="text-center">Jane Smith</h2>
        <p class="text-center">Jane is a talented designer who has worked on a number of high-profile projects.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-member">
        <span class="image_duck">
          <img class="duck_temp" src="../../assets/duck.jpeg" alt="Person 3">
        </span>
        <h2 class="text-center">Mike Johnson</h2>
        <p class="text-center">Mike is a seasoned project manager who has successfully led teams on a range of complex projects</p>
      </div>
    </div>
  </div>
</div>
