<div class="container-fluid footer">
    <div class="team row-cols-1">
      <a href="https://rs.school/" class="col ">
        <img class="rss-logo" src="../../../../assets/rss.svg" alt="rss logo">
      </a>
    </div>
    <div class="justify-content-between width">
      <div class="footer_inner">
        <span class="icon icon-git"></span>
        <a href="https://github.com/squidawg" class="link_item">@squidawg</a>
      </div>
      <span class="footer_inner">2023</span>
    </div>
</div>
