<div class="container window-height">
    <div class="row col-md-4 offset-md-4 justify-content-center">
        <div class="container justify-content-center text-center to_flex" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="container row justify-content-center text-center">
                <h2>Login</h2>
                <h4>Don't have an account? <a style="cursor: pointer" routerLink="/signup">Sign up</a></h4>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your Login</mat-label>
                    <input
                            matInput
                            formControlName="login"
                    >
                    <mat-error *ngIf="!signInForm.get('login')!.valid">{{onError(signInForm.get('login'),'login')}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input
                            matInput [type]="hide ? 'password' : 'text'"
                            formControlName="password"
                    >
                    <mat-error *ngIf="!signInForm.get('password')!.valid">{{onError(signInForm.get('password'),'password')}}</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button
                        mat-raised-button
                        color="primary"
                        [disabled]="!signInForm.valid"
                >
                    Sign In
                </button>
            </div>
        </form>

    </div>
</div>

