<div class="container board_wrapper">
    <div cdkDropList cdkDropListOrientation="horizontal" class="board_wrapper" (cdkDropListDropped)="dropColumn($event)">
        <div cdkDropListGroup class="columns_wrapper" >
                <div cdkDrag class="block_frame column_wrapper" *ngFor="let column of columns; let i = index">
                    <div class="column_title-wrapper">
                        <h2>{{column.title}}</h2>
                        <button
                                mat-icon-button color="primary"
                                aria-label="Example icon button with a home icon" (click)="onDeleteColumn(i)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div
                            cdkDropList
                            [cdkDropListData]="column.tasks"
                            class="example-list"
                            (cdkDropListDropped)="dropTask($event)">
                        <div class="example-box to_flex test"
                             *ngFor="let item of column.tasks"
                             cdkDrag>
                            <div>
                                <h3>{{item.name}}</h3>
                                <p>{{item.description}}</p>
                            </div>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                    <button mat-flat-button color="primary">Add Task</button>
                </div>

        </div>
        <button mat-button color="primary" (click)="onAddColumn()">Add Column</button>
    </div>
</div>
