.card_wrapper{
    display: flex;
    justify-content: space-around;
    height: 50%;
    gap: 2rem
}

.card_column{
    display: flex;
    width: 100%;
}

.board_wrapper{
    margin: 2rem;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 3rem;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 10px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column_wrapper{
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
    background-color: white;

}
.columns_wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.column_title-wrapper{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
.column_title_input{
    display: flex;
    flex-direction: column;
    height: 4rem;

}
.column_input{
    width: 100%;
    border: none;
}
.column_input-btn_wrapper{
    gap: 0.3rem;
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 60%;
}

.test{
    align-items: baseline;
}

.task_wrapper{
    display: flex;
    align-items: flex-start;
}

.task_card_wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.2rem;
}

.task_title{
    margin: 0;
    margin-top: 0.5rem;
}

.btn_wrapper{
    display: flex;
    justify-content: left;
}
