
<div>
    <div class="h-progress-bar">
        <mat-progress-bar mode="query" *ngIf="isDrop"></mat-progress-bar>
    </div>
    <div class="d-flex mt-3 justify-content-between">
        <button
                mat-mini-fab
                color="accent"
                matTooltip="{{'board.arrow_back' | translate }}"
                routerLink="/dashboard">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class=" justify-content-center text-center d-flex gap-3 align-items-center" style="height: 100vh" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div
            cdkDropList
            cdkDropListOrientation="horizontal"
            class="board_wrapper"
            (cdkDropListDropped)="dropColumn($event)"
            *ngIf="!isLoading">
        <div cdkDropListGroup class="columns_wrapper" >
                <div cdkDrag class="block_frame column_wrapper" *ngFor="let column of sortedData; let i = index" >
                    <div class="column_title-wrapper" >
                        <div class="column_title_input ">
                            <ng-container *ngIf="!isEditing[i]; else editTemplate" >
                                <h2 (click)="onTouchColumnTitle(i)" >{{column.title}}</h2>
                            </ng-container>
                            <ng-template #editTemplate >
                                <mat-form-field appearance="outline">
                                    <mat-label >{{'form.edit_title' | translate}}</mat-label>
                                    <input matInput name="{{column.title}}"
                                           class=" h5 column_input"
                                           [(ngModel)]="column.title"
                                           (keydown.enter)="onEditColumn(i, column)"
                                           autofocus
                                    >
                                </mat-form-field>
                                <div class="column_input-btn_wrapper">
                                    <button mat-stroked-button (click)="onTouchColumnTitle(i)" ><span >{{'btn.cancel' | translate}}</span></button>
                                    <button mat-stroked-button color="primary" (click)="onEditColumn(i, column)"><span >{{'btn.submit' | translate}}</span></button>
                                </div>
                            </ng-template>
                        </div>
                        <button *ngIf="!isEditing[i]"
                                mat-icon-button color="primary"
                                matTooltip="{{'shared.delete'|translate}} {{'shared.column'|translate}}"
                                aria-label="Example icon button with a home icon" (click)="onDeleteColumn(column._id!, column.boardId)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div cdkDropList [cdkDropListData]="column.tasks" class="example-list" (cdkDropListDropped)="dropTask($event, i)">
                            <ng-container *ngFor="let item of column.tasks; let j = index">
                                        <div class="example-box task_wrapper" cdkDrag (click)="onEditTask(item)">
                                            <div class="task_card_wrapper">
                                                <h3 class="task_title">{{ item.title }}</h3>
                                                <p class="task_description">{{ item.description }}</p>
                                                <div *ngIf="item.users.length <= 3 " class="d-flex flex-column gap-1">
                                                    <mat-chip *ngFor="let user of item.users" class="mat-chip-wrapper" (click)="$event.stopPropagation()">
                                                        <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                                                        {{ user | transform | titlecase}}
                                                    </mat-chip>
                                                </div>
                                                <div *ngIf="item.users.length > 3">
                                                    <div *ngIf="!taskIndex[j] && !columnIndex[i]">
                                                        <mat-chip class="mat-chip-wrapper" (click)="onUserclick($event, j, i)"
                                                                  matBadge="+{{item.users.length - 1}}"
                                                                  matBadgePosition="after"
                                                                  matBadgeColor="accent">
                                                            <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                                                            {{ item.users[0] | transform | titlecase}}
                                                        </mat-chip>
                                                    </div>
                                                </div>
                                                <div *ngIf="taskIndex[j] && columnIndex[i]" class="d-flex flex-column gap-1">
                                                    <mat-chip *ngFor="let user of item.users" class="mat-chip-wrapper " (click)="onUserclick($event, j, i)">
                                                        <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                                                        {{ user | transform | titlecase}}
                                                    </mat-chip>
                                                </div>
                                            </div>
                                            <button
                                                    mat-icon-button
                                                    matTooltip="{{'shared.delete'| translate}} {{'shared.task'| translate}}"
                                                    color="primary"
                                                    aria-label="Delete task"
                                                    (click)="onDeleteTask($event, item)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                            </ng-container>
                    </div>
                    <div class="btn_wrapper">
                        <button mat-flat-button color="primary" (click)="onAddTask(i)">{{'btn.add_task' | translate}}</button>
                    </div>
                </div>
            <div class="btn-wrapper">
                <button matTooltip="{{'shared.add'|translate}} {{'shared.column'|translate}}"
                        mat-fab
                        color="primary" (click)="onAddColumn()"
                ><mat-icon>add</mat-icon></button>
            </div>
        </div>
    </div>
</div>
