.nav_btn{
  display: flex;
  gap: 0.5rem;
}

.footer_inner{
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.to_flex{
  display: flex;
  gap: 1rem
}

/*change button*/
.btn_size{
  display: flex;
  justify-content: center;
}

.window-height{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon{
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.icon-git{
  background-image: url("../src/assets/github-142-svgrepo-com.svg");
}
