.nav_btn{
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.footer_inner{
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.to_flex{
  display: flex;
  gap: 1rem
}

/*change button*/
.btn_size{
  display: flex;
  justify-content: center;
}

.window-height{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;

}

.icon{
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.icon-git{
  background-image: url("../src/assets/github-142-svgrepo-com.svg");
}

.mat-mdc-form-field{
  width: 100%;
}
.block_frame {
  border: 1px solid purple;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
}


.btn_auth_wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}

.form-title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-title-description{
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.mdc-dialog__actions{

}
