<div class="container window-height">
  <div class="container">
    <h1 class="text-center">Intro</h1>
    <p class="text-center">Introducing our project manager app - the ultimate solution for managing your projects and tasks with ease! With our app, you can streamline your workflow, collaborate with your team, and track your progress all in one place.</p>
  </div>
  <div class="container feature_description">
    <div class="container to_flex">
      <div class="row" *ngFor="let content of contents">
        <div class="col-sm col-md">
          <div class="block_frame">
            <p class="description">{{content}}
            </p>
          </div>
      </div>
      </div>
    </div>
    <br>
    <div class="btn_size">
      <button
              class="btn btn-success "
              routerLink="/signup">Try it now!</button>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="container-fluid to_flex">
      <div  *ngFor="let card of cardData">
        <div class="col-xs col-sm col-md ">
          <div class="to_flex teams_card team-member">
            <span class="image_duck">
          <img class="duck_temp" [src]='card.img' alt="Person 1">
        </span>
            <h2 class="text-center">{{card.name}}</h2>
            <p class="text-center">{{card.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
