<div class="container window-height">
  <div class="container col-12 col-sm-12 col-md-12">
    <h1 class="text-center">Intro</h1>
    <p class="text-center">Introducing our project manager app - the ultimate solution for managing your projects and tasks with ease! With our app, you can streamline your workflow, collaborate with your team, and track your progress all in one place.</p>
  </div>
  <div class="container-fluid feature_description">
    <div class="container-fluid feature_description-wrapper">
      <div class=" col-12 col-sm-12 col-md-12 " *ngFor="let content of contents">
        <div class="col-sm col-md">
          <div class="block_frame">
            <p class="description">{{content}}
            </p>
          </div>
      </div>
      </div>
    </div>
    <br>
    <div class="btn_size">
      <button
              mat-raised-button
              color="primary"
              routerLink="/signup">Try it now!
      </button>
    </div>
  </div>
  <div class="container ">
    <br>
    <mat-divider></mat-divider>
    <br>
    <h2 class="text-center">Our Team</h2>
    <div class="container-fluid col-12 col-sm-12 col-md-12  teams_card" >
      <div  *ngFor="let card of cardData">
        <div class="col-xs col-sm col-md ">
          <div class=" team-member col-xs col-sm col-md">
            <span class="image_duck">
          <img class="duck_temp" [src]='card.img' alt="Person 1">
        </span>
            <h2 class="text-center">{{card.name}}</h2>
            <p class="text-center">{{card.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
